body{
    
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
   justify-content: center;

     
}
html{
  font-size: 62.5%;
  /*10px  1rem   */ 
}
@media (max-width:998px) {
html{
  font-size:55%;
  
}
}
@media (max-width:768px) {
  html{
      font-size:45%;
  }
  }
  @media (max-width:300px) {
      html{
          font-size:35%;
      }
      }

      .Header{
       background-color:#a52a2a;
        width:100%;
        height: 100px;
        display:flex;
        
        
      }
      
      .Header .l_logo{
        height:60px;
        width:10%;
         display: flex;
      }
      
      .Header .l_logo img{
        height:95px;
        width:150px
      }
      
      .Header .links{
        padding-left: 15%;
        padding-right: 15%;
        margin-left: auto;
        margin-top: 40px;
        text-align: center;
        height:100%;
        width:50%;
        display: flex;
        justify-content: space-around;
        
     
       
      }
      
      .Header .links a{
        height:10%;
      
      }
      

     
      
      .Login {
        background: #030505;
        background-image: -webkit-linear-gradient(top, #030505, #0c0c0d);
        background-image: -moz-linear-gradient(top, #030505, #0c0c0d);
        background-image: -ms-linear-gradient(top, #030505, #0c0c0d);
        background-image: -o-linear-gradient(top, #030505, #0c0c0d);
        background-image: linear-gradient(to bottom, #030505, #0c0c0d);
        -webkit-border-radius: 21;
            -moz-border-radius: 21;
            border-radius: 21rem;
            font-family: Georgia,'Merriweather', serif;
            color: #ffffff;
            font-size: 1.4rem;
            padding: 1rem 2rem 1rem 2rem;
            text-decoration: none;
           
            margin-top: 30px;
      }
      
      .Login:hover {
        background: #353738;
            background-image: -webkit-linear-gradient(top, #353738, #6f7478);
            background-image: -moz-linear-gradient(top, #353738, #6f7478);
            background-image: -ms-linear-gradient(top, #353738, #6f7478);
            background-image: -o-linear-gradient(top, #353738, #6f7478);
            background-image: linear-gradient(to bottom, #353738, #6f7478);
            text-decoration: none;
      }

      
      
      
      .Home {
        background: #030505;
        background-image: -webkit-linear-gradient(top, #030505, #0c0c0d);
        background-image: -moz-linear-gradient(top, #030505, #0c0c0d);
        background-image: -ms-linear-gradient(top, #030505, #0c0c0d);
        background-image: -o-linear-gradient(top, #030505, #0c0c0d);
        background-image: linear-gradient(to bottom, #030505, #0c0c0d);
        -webkit-border-radius: 21;
            -moz-border-radius: 21;
            border-radius: 31rem;
            font-family: Georgia,'Merriweather', serif;
            color: #ffffff;
            font-size: 1.4rem;
            padding: 1rem 2rem 1rem 2rem;
            text-decoration: none;
           
      }
      
      .Home:hover {
        background: #353738;
            background-image: -webkit-linear-gradient(top, #353738, #6f7478);
            background-image: -moz-linear-gradient(top, #353738, #6f7478);
            background-image: -ms-linear-gradient(top, #353738, #6f7478);
            background-image: -o-linear-gradient(top, #353738, #6f7478);
            background-image: linear-gradient(to bottom, #353738, #6f7478);
            text-decoration: none;
      }
         
              
        
        
        .Menu {
            background: #030505;
            background-image: -webkit-linear-gradient(top, #030505, #0c0c0d);
        background-image: -moz-linear-gradient(top, #030505, #0c0c0d);
        background-image: -ms-linear-gradient(top, #030505, #0c0c0d);
        background-image: -o-linear-gradient(top, #030505, #0c0c0d);
        background-image: linear-gradient(to bottom, #030505, #0c0c0d);
            -webkit-border-radius: 21;
            -moz-border-radius: 21;
            border-radius: 21rem;
            font-family: Georgia,'Merriweather', serif;
            color: #ffffff;
            font-size: 1.4rem;
            padding: 1rem 2rem 1rem 2rem;
            text-decoration: none;
            
          }
          
          .Menu:hover {
            background: #353738;
            background-image: -webkit-linear-gradient(top, #353738, #6f7478);
            background-image: -moz-linear-gradient(top, #353738, #6f7478);
            background-image: -ms-linear-gradient(top, #353738, #6f7478);
            background-image: -o-linear-gradient(top, #353738, #6f7478);
            background-image: linear-gradient(to bottom, #353738, #6f7478);
            text-decoration: none;
          }
      
          .About {
            background: #030505;
            background-image: -webkit-linear-gradient(top, #030505, #0c0c0d);
        background-image: -moz-linear-gradient(top, #030505, #0c0c0d);
        background-image: -ms-linear-gradient(top, #030505, #0c0c0d);
        background-image: -o-linear-gradient(top, #030505, #0c0c0d);
        background-image: linear-gradient(to bottom, #030505, #0c0c0d);
            -webkit-border-radius: 21;
            -moz-border-radius: 21;
            border-radius: 21rem;
            font-family: Georgia,'Merriweather', serif;
            color: #ffffff;
            font-size: 1.4rem;
            padding: 1rem 2rem 1rem 2rem;
            text-decoration: none;
            
          }
          
          .About:hover {
            background: #353738;
            background-image: -webkit-linear-gradient(top, #353738, #6f7478);
            background-image: -moz-linear-gradient(top, #353738, #6f7478);
            background-image: -ms-linear-gradient(top, #353738, #6f7478);
            background-image: -o-linear-gradient(top, #353738, #6f7478);
            background-image: linear-gradient(to bottom, #353738, #6f7478);
            text-decoration: none;
          }
      
      .r_logo{
        justify-content: space-between;
        height:100%;
        width:40%;
        display: flex;
      }
      .r_logo img{
        height:95px;
        width:155px
      }
      
      .r_logo .cart {
        text-align: center;
        width: 50px;
        margin: auto;
        height: 35%;
        display: flex;
        justify-content: center;
        position: relative;
      
      
       
      }

      .cart img{
        width: 60px;
        height: 60px;
      }

      .quan{
        position: absolute;
        top: -3px;
        right: -8px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #ffffff;
        padding: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        color: #a52a2a;
        font-size: 15px;
      }

.Main{
 height:600px;
  width: 100%;
  display: flex;
  background-color:#a52a2a;
 
}


.Main .slide{
  width: 100%;
  height:100vh;
 
 display: flex;
}

.slide {
  overflow: hidden;
}
.slide::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  
  z-index: 10;
}

.Main .left{

  text-align: center;
  display: block;
   
    height: 50%;
  width: 50%;
  align-items: center;
  justify-content: center;
   padding-top:15% ;

} 

.Main .left .text{
    height: 300px;
  align-items: center;
  justify-content: center;
   font-size: 15px;
   height:300px;
   position: absolute;
   margin-left: auto;
   padding-left:20%; 
   
}

.Main .left .text img{
  height:60px;
  width:120px;
  justify-content: space-between;
}


.Main .right{
  height: 50%;
  width: 50%;
 align-items: center;
 justify-content: center;
 padding-top: 10%;
  padding-right:10%; 
  
  
  text-align: center;
  display: flex;

}

.Main .right img{
 
  align-items: center;
  justify-content: center;
  position: absolute;
  
  
}

.nav-btn{
  height:100px;
  width:100px;
  color: #000000;
  margin: auto;
 
  
}




.List{
 position: relative;
  width: 100%;
  
}

.List .msg{
  font-size: 30px;
}

.List .pizza-tempicon{
  height:95px;
   width:150px;
   
   left: 20px;
}

.List p{
  font-size: 20px;
  align-items: center;
  margin-left: 25%;
  margin-right: 25%;
 
 
}




.List .menu-items
{
  width: 100%;
   height: 100%;
  position: relative;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  column-gap: 2 rem;

}

 .pizzabox{
  align-items: center;
 margin-top: 10%;
 margin: auto;
  justify-content: space-evenly;
  width: 60%;
  height:60%;
  
 margin-bottom: 50px;
  
  

}

.pizzabox img{
  margin: auto;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 80%;
  position: relative;
 display: block;
  transition: transform 0.5s;
}

.pizzabox h2{
  position: relative;
  display: block;
}


.overlay{
  height: 50;
  justify-content: space-evenly;
  width:20%;
  background: linear-gradient(transparent, 58%);
  
  position: absolute;
  overflow: hidden;
 
  padding: 0 40px;
  text-align: center;
  font-size: 12px;
  transition: height 0.5s;
}





.add-cart{
  margin-top: 10px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  background:rgb(6, 6, 6);
  border-radius: 50px;
  text-align: center;
  color: #ffffff;
  font-size: 12px;
}

.pizzabox:hover img{
  transform: scale(1.2);
}

.pizzabox:hover .overlay{
  height: 50%;
}

.cart-container{
  position: fixed;
  top: 0;
  left: 100%;
  width: 350px;
  background-color:#453E3B;
  padding-bottom: 40px;
  transition: 0.5s;
 overflow-y: auto;
 max-height: 70vh;
  
  padding-left: 10px;
 text-align: left;
 margin-bottom: 100px;

 z-index: 9999;
 padding-bottom: 150px;
 
}

.show-cart-container{
  
  transform: translateX(-150px);
  left:calc(100% - 200px);
  
}





.cart-box{
  display: grid;
  grid-template-columns: 32% 35% 23%;
  column-gap: 0.5rem;
  align-items: center;
 width: 350px;
  padding: 1.2 rem 0.6rem;
  height:100px;
  border-bottom: 5px solid rgba(0,0,0,0.21);
  background-color: #968d89;
  margin-top: 5px;
   border: #0c0c0d;
   
   
}

.cart-box:last-child{
  border-bottom: none;
}

/*.cart-item-del{
  position: absolute;
  right: 25px;
  top:15px;
  padding: 0.05rem 0.45rem;
  font-size: 1.4rem;
  color: #ffffff;

}*/

.cart-img{
  width: 80px;
  height: 100px;
}

.cart-info{
  text-align: center;
  width:40%;
  
}

.cart-info-name{
  color: #050404;
  font-size: 15px;
  display: flex;
 
}

.cart-price{
  display: block;
  color: #010101;
  height: 40px;
}

.cart-quantity{
  display: flex;
  width: 40px;
  height: 20px;
  background-color:antiquewhite;
  border: none;
  outline: none;
  font-size: 15px;

  color: black;
 
  
 align-items: center;
 
}

.cart-remove{
  position: absolute;
  display: flex;
  right: 25px;
  font-size: 25px;
  cursor: pointer;
  top:auto;
  transform: rotate(45deg);
 
 color: #ffffff;
}



.cart-total{
 
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 35px;
  padding: auto;
  height: 40px;
}

.cart-total h3{
  margin-right:0.2rem;
  font-size: 1.8rem;
  


}

#cart-total-value{
  font-size:1.8rem;
  font-weight:500;
  margin-right: 30px;


}

.btn-buy
{
  background-color: #a52a2a;
  color: #ffffff;
}
.Footer{
  margin-top: 20%;
  height: 500px;
  width: 100%;
  background: #4c4d4d;
  display: flex;
}

.Footer .photo{
 
  display: flex;
 
}

.Footer .info{
   height: 70%;
   width: 60%;
   margin: auto;
   text-align: center;
   justify-content: center;
   
   font-size: 20px;
}

.contact-icon{
  height:35px;
  width:35px;
  align-items: left;
}
/*.product_page {
        position: fixed;
        top: 0%;
        right: 0%;
        height: 100vh;

        display: none;
        
        align-items: center;
        justify-content: center;

  width: 100%;
 display: flex;
 
}

.product_page .overlay2 {
   Styles for the overlay 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
 /* display: none;  Initially hide the overlay 
}

.product_page .preview {
   Styles for the pop-up content 
  position: fixed;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  z-index: 9999;
  display: none;  Initially hide the pop-up */
  /*max-width: 80%;  Set the maximum width as needed 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);  Add a box shadow for depth 
}*/

/*
.product_page .preview{
display: none;
padding: 2rem;
text-align: center;
position: relative;
margin: auto;

width: 80%;
background: #030505;
opacity: 0;
visibility: hidden;
transition: 0.5sec;

}

.product_page .preview.active{
  display: inline-block;
  
  display: flex;
  opacity: 1;
  z-index: 9999;
  visibility: visible;
  transition: 0.5s;

}*/


.product_page{
  width:100%;
  height: 170%;
  background-color:rgba(0,0,0,0.7);
  display: flex;
  position: absolute;
 top:100%;
  justify-content: center;
  align-items: center;
  display: none;
}

.preview{
  margin-top: 10%;
  width: 90%;
  height: 60%;
  background: #030505;
  opacity: 1;
  
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.close{
  position: absolute;
  top: 0;
  right: 12px;
  font-size: 42px;
  transform: rotate(45deg);
 cursor: pointer;
 color: #ffffff;
}


.left_product_img{
  width: 50%;
  height: 100%;
margin-top: 5%;
  justify-content: center;
  align-items: center;
  margin-left: 5%;

}

.product_info{
  color: #ffffff;
  width: 50%;
  height: 100%;
  margin-top: 5%;
  font-size: 25px;
  text-align: left;
  
}

.size{
  width: 40%;
  display: flex;
  
}


.small{
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
   justify-content: space-evenly;
}

.medium{
  width: 40px;
  height: 40px;
  cursor: pointer;
  justify-content: space-evenly;

}

.large{
  width: 50px;
  height: 50px;
  cursor: pointer;
  justify-content: space-evenly;

}

.size_text{
  font-size: 22px;
  justify-content: space-between;
}

.checkbox_ele{
  display: flex;
  width: 40px;
  height: 50px;
  align-items: center;
  
  justify-content: center;
  margin-left: 120px;
}

.Add_To_Cart{
  display: flex;
  width: 200px;
  height: 35px;
  margin-top: 20px;
  margin-left: 10px;
 
 
}

.Add_To_Cart .bu{
  width:70px;
  height: 35px;
  margin-left: 30px;
}

